{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>🎟️ Mes billets</h2>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Événement</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Code billet</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Salon Tech</td>
                <td>2025-10-10</td>
                <td>Québec</td>
                <td>#BILLET872</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}